.card-set > .card-set__item {
  margin-bottom: 30px;

  transition: box-shadow $transition-duration $timing-function;
  // width: 450px;
  // height: 404px;
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 3 - 30px);
  }
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -15px;
}

// .card-set__item:nth-child(3n + 1) {
//   margin-left: 0px;
// }

// .card-set__item:nth-child(-n + 3) {
//   margin-top: 0px;
// }

.card-set__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-content {
  padding: 20px 24px;
  text-align: left;
  border: 1px solid #eeeeee;
}

.card-content__project {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  color: $main-font-color;

  margin-bottom: 4px;
}

.card-content__text {
  font-size: 16px;
  line-height: 1.87;
  color: $paragraphs-mail-tel;
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay__wrapper {
  position: absolute;
  display: inline-block;
  content: "";

  width: 100%;
  height: 101%;
  top: 0;
  left: 0;

  background: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform $transition-duration $timing-function;

  .card-set__link:hover &,
  .card-set__link:focus & {
    transform: translateY(0);
  }
}

.overlay__text {
  width: 322px;
  height: 168px;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-align: left;

  color: $white-font;
  z-index: 1;
}
