.footer-form {
  display: flex;
}

.subscription-text {
  color: $white-font;
  margin-bottom: 20px;
  font-weight: bold;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  text-align: left;
  margin-left: 93px;
}

.footer-form__input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 12px;
  margin-left: 93px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  display: flex;
  align-items: center;

  color: rgba(255, 255, 255, 0.6);
  background: $footer-background-color;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.wrapper-btn__button {
  position: relative;
  align-items: center;

  background: $brand-color;
  color: $white-font;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  padding-right: 29px;
  padding-right: 62px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 200px;
  height: 50px;
  margin: 0;
}

.wrapper-btn__icon {
  position: absolute;
  left: 148px;
  top: 50%;
  transform: translateY(-50%);
}
