.hero {
  background-color: #2f303a;
  padding-left: 0;
  padding-right: 0;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-wrapper__title {
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  width: 696px;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
}

.hero-wrapper__button {
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #2196f3;
  color: #ffffff;
  margin-top: 30px;
  padding: 10px 32px;
  align-items: center;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
}

.hero--overlay {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
