.mob-menu-btn-open {
  margin-left: auto;
  border: transparent;
  background-color: transparent;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-btn-close {
  padding: 11px;
  border: transparent;
  background-color: transparent;
  display: block;
  margin-left: auto;
  margin-top: 21px;
  &:hover {
    color: $brand-color;
  }
}

.mob-menu {
  background-color: $white-font;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;

  transform: translateX(1000%);

  .menu-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.mob-menu.is-open {
  transform: translateX(0);
}

// .mob-menu-bottom {
//   margin-bottom: auto;
// }

.menu-networks {
  display: flex;
  margin-top: 64px;
  margin-bottom: 48px;
}

.menu-navigation__list {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.menu-navigation__link--tel {
  display: block;

  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: $brand-color;
  text-decoration: none;
}

.menu-navigation__link--decoration {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: #212121;
  text-decoration: none;
}

.menu-navigation__link--active {
  color: $brand-color;
}

.menu-navigation__link--mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;

  color: $paragraphs-mail-tel;
  text-decoration: none;
}

.menu-networks__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  color: $brand-color;
  text-decoration: none;
}

.menu-networks__list {
  &:not(:last-child) {
    margin-right: 20px;
  }
}

.menu-container {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
}

.menu-networks__list:not(:last-child)::after {
  content: "";

  width: 22px;
  height: 0px;
  left: 315px;
  top: 726px;
  margin-left: 10px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}
