.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity $transition-duration $timing-function;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);

  min-width: 450px;
  min-height: 609px;

  background-color: $white-font;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform $transition-duration $timing-function;

  @media screen and (min-width: 1200px) {
    min-width: 528px;
    min-height: 581px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.3);
}

.close-button {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  background: $white-font;

  position: absolute;
  top: 8px;
  right: 8px;
}

.—Ålose-button__icon {
  transition: fill $transition-duration $timing-function;
  &:hover {
    fill: $brand-color;
  }
}

.modal__title {
  text-align: center;
  letter-spacing: 0.03em;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;

  color: $main-font-color;
  text-align: center;
  margin-bottom: 12px;

  @media screen and (min-width: 768px) {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.15;
  }
}

.modal__input {
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 4px;
  margin-bottom: 10px;
  padding-left: 42px;
  padding-right: 10px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;

  transition: border-color $transition-duration $timing-function;

  &:focus {
    border: 1px solid $brand-color;
  }
}

.modal__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: $paragraphs-mail-tel;
}

.modal__comment {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  margin-bottom: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  resize: none;
  outline: none;

  transition: border-color $transition-duration $timing-function;

  &::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }

  &:focus {
    border: 1px solid $brand-color;
  }
}

.checkbox-wrapper__label {
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: $paragraphs-mail-tel;

  display: flex;
  align-items: center;
}

.checkbox-wrapper__link {
  color: $brand-color;
}

.modal__btn {
  display: block;

  background: $brand-color;
  color: $white-font;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  width: 200px;
  height: 50px;
  margin: auto;
  margin-top: 30px;
}

.modal__wrapper {
  position: relative;
  display: block;
}

.modal__svg {
  position: absolute;
  left: 12px;
  top: 11px;

  transition: fill $transition-duration $timing-function;
}

.checkbox-wrapper__input {
  margin: 0;
  padding: 0;
  width: 16px;
  height: 15px;

  appearance: none;

  position: absolute;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__input:focus + .modal__svg {
  fill: $brand-color;
}

.checkbox-wrapper__icon {
  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 2px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: border-color $transition-duration $timing-function,
    background-color $transition-duration $timing-function;
}

.checkbox-wrapper__input:checked + .checkbox-wrapper__icon {
  border-color: $brand-color;
  background-color: $brand-color;
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
}

.checkbox-wrapper__text {
  margin-left: 7px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}
