$brand-color: #2196f3;
$paragraphs-mail-tel: #757575;
$hero-background-color: #2f303a;
$white-font: #ffffff;
$footer-background-color: #2f303a;
$logo-black: #000000;
$bcg-button-sectionteam: #f5f4fa;
$main-font-color: #212121;
$footer-tel-mail: rgba(255, 255, 255, 0.6);
$portfolio-card-gap: 30px;
$transition-duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$paragraphs-section: rgba(117, 117, 117, 1);
